{% extends "layout.html" %}

{% block script %}
<script src="{{ url_for('static', filename='customer.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container text-center">
        <h4>Would you like to buy more cheese?</h4>
        <button type="button" id="buyMore" class="btn btn-warning btn-large">YES PLEASE!</button>
        <br><br>
    </div>

    <div class="container text-center">
        COUPON AVAILABILITY:
        <h4 id="hasCoupon"></h4>
        <button type="button" id="applyCoupon" class="btn btn-primary">Apply</button>
    </div>
{% endblock %}